<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS472 MiniBankingApp</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script defer src="../minibankapp.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul id="ulNavItems">
                <li>
                    <a id="hyplnkAppBranding" href="./index.html">CS472:::MiniBankingApp</a>
                </li>
                <!-- <li>
                    <a class="hyplnkNavItem" href="./index.html">Home</a>
                </li> -->
            </ul>
        </nav>
        <div id="divHeaderRightContent">
            <span style="float: right;">Welcome, Guest</span>
        </div>
    </header>
    <section>
        <article>
            <p>The resource URL you have requested is not available on this server.</p>
            <p>Error 404</p>
        </article>
    </section>
    <footer>
        <div>
            <span>
                CS472-WAP ::: Banking WebApp
            </span>
            <span style="float: right;">
                Kalu MIU &copy; March 2022
            </span>
        </div>
    </footer>
</body>
</html>